.search {
    font-family: Arial, Helvetica, sans-serif;
}

/****************/
/** Search bar **/
/****************/
.search-bar {
    height: 44px;
    width: 80vw;
    max-width: 690px;
    background-color: white;
    box-shadow: 0 2px 5px 1px rgba(64 60 67 / 16%);
    border-radius: 24px;

    margin: 60px auto;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search-input {
    width: 70%;

    display: flex;
    justify-content: space-between;

}

.search-input input {
    border: none;
    outline: none;
    font-size: 16px;
    color: black;

    margin: 0 30px;
    width: 75%;
}

.search-type-select {
    /* height: 35px;  */
    height: 75%; 
    display: flex;
}

.search-type-select:hover {
    background-color: #eeecec;
    border-radius: 15px;
}

.search-type-select select {
    border: none;
    outline: none;
    font-size: 16px;

    margin: 0 10px;
    background: none;
    /* color: #bdbaba; */
    color: #797878;
}

.search-btn button {
    border: none;
    outline: none;
    
    background-color: #e3e3e3;
    width: 60px;
    height: 44px;
    border-radius: 0 24px 24px 0;
}

.search-btn button:hover {
    background-color: #d5d5d5;
    cursor: pointer;
}

.search-btn button img {
    width: 24px;
    height: 24px;
}

.search-reset {
    border: none;
    outline: none;
    
    /* background-color: #e3e3e3; */
    background: none;
    border-radius: 24px;
    height: 24px;
    width: 24px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.search-reset:hover {
    /* background-color: #d5d5d5; */
    background-color: #e3e3e3;
    cursor: pointer;
}

.search-reset img {
    width: 18px;
    height: 18px;
}

.search-error {
    width: 90vw;
    margin: auto;
    padding: 60px 0;

    display: flex;
}

.search-error h2 {
    margin: auto;
}

/********************/
/** Search results **/
/********************/
.search-results-pane {
    display: flex;
    flex-direction: column;
    width: 90vw;
    margin: auto;
}

.search-results {
    border-radius: 8px;
    padding: 10px;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.results-headline {
    margin: 0 0 10px 0;
    display: flex;
    align-items: center;
}

.results-headline h2 span {
    margin: 0 12px;
    color: gray;
    font-size: 0.9em;
}

.result {
    width: calc(25% - 40px);
    min-width: 220px;
    margin: 20px;
    border-radius: 8px;
    box-sizing: border-box;
    text-align: left;
    box-shadow: 0 2px 5px 1px rgba(64 60 67 / 16%);
}

.result h3 {
    font-size: 1.2em;
    line-height: 24px;
    margin: 0;
}

.result span {
    font-size: 14px;
    margin-left: 12px;
}

.result-details {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.result-img {
    width: 100%;
    height: 80%;
    border-radius: 8px 8px 0 0;
    overflow: hidden;
    display: flex;
}

.result-img img {
    width: 100%;
}

.load-more {
    margin: 60px auto;
    padding: 10px 30px;
    display: flex;
    outline: none;
    border: none;
    border-radius: 24px;
    background-color: #e3e3e3;
}

.load-more:hover {
    background-color: #d5d5d5;
    cursor: pointer;
}